@import url(./styles/reset.css);
@import url(./styles/variables.css);
body {
  width: 100%;
  height: 400%;
  /* overflow-x: hidden; */
  font-size: 16px;
}

.container {
  height: 400vh;
  .header {
    background: var(--main-dark-color);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 40px;
    .innerhead {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      .header_con {
        width: 100%;
        color: var(--main-light-color);
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .section {
    width: 100vw;
    height: 100vh;
    perspective: 1480px;
    &:nth-child(1) {
      background: url("./imgs/apple_background.jpg") center;
    }
    &:nth-child(2) {
      width: 200px;
      margin-left: 900px;

      .circle {
        transform-style: preserve-3d;
        animation: merrygoround 30s linear none infinite;

        padding-top: 150px;
        .face {
          position: absolute;

          transform-style: preserve-3d;
          backface-visibility: hidden;
          .cell {
            width: 200px;
            height: 300px;

            &:nth-child(1) {
              background: url(./imgs/product1.jpg) center/cover;
            }
            &:nth-child(2) {
              background: url(./imgs/product9.jpg) center/cover;
            }
          }
          &:nth-child(1) {
            transform: rotateY(0deg) translateZ(-600px);
          }
          &:nth-child(2) {
            transform: rotateY(36deg) translateZ(-600px);
          }
          &:nth-child(3) {
            transform: rotateY(72deg) translateZ(-600px);
          }
          &:nth-child(4) {
            transform: rotateY(108deg) translateZ(-600px);
          }
          &:nth-child(5) {
            transform: rotateY(144deg) translateZ(-600px);
          }
          &:nth-child(6) {
            transform: rotateY(180deg) translateZ(-600px);
          }
          &:nth-child(7) {
            transform: rotateY(216deg) translateZ(-600px);
          }
          &:nth-child(8) {
            transform: rotateY(252deg) translateZ(-600px);
          }
          &:nth-child(9) {
            transform: rotateY(288deg) translateZ(-600px);
          }
          &:nth-child(10) {
            transform: rotateY(324deg) translateZ(-600px);
          }
        }
      }
    }

    &:nth-child(3) {
      h2 {
        display: inline-block;
        padding-top: 150px;
        margin-left: 50px;
        margin-bottom: 20px;
      }
      p {
        display: inline-block;
        color: var(--sub-font-color);
        font-size: 1.5rem;
        font-weight: bold;
      }
      .myslider {
        .item {
          border: 1px solid #f00;
          width: 100px;
          height: 400px;
          margin-left: 50px;
          background: var(--main-light-color);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
          border-radius: 30px 30px 30px 30px;
          overflow: hidden;
        }
      }
    }
    &:nth-child(4) {
      .bottom {
        border: 1px solid #f00;
      }
    }
  }
}

@keyframes merrygoround {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
